@using MyApiProject.DtosLayer.AboutDtos
@model UpdateAboutDtos
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<br />
<h1>Hakkımızda Güncelleme Sayfası</h1>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="AboutId" />
        <label>Hikayemiz</label>
        <textarea asp-for="OurStory" class="form-control"></textarea>
        <br />
        <label>Misyonumuz</label>
        <textarea asp-for="OurMission" class="form-control"></textarea>
        <br />
        <label>1. Fotoğraf</label>
        <textarea asp-for="Image1" class="form-control"></textarea>
        <br />
        <label>2. Fotoğraf</label>
        <textarea asp-for="Image2" class="form-control"></textarea>
        <br />
    </form>
    <button class="btn btn-success">Güncelle</button>
</div>